<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
      background-image: url('capture.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="stylesheet" href="/static/style.css">

    <title>Indoor Scene Recognition</title>
  </head>
  <body class="text-center mb-4" style="background-image: url('{{ url_for('static', filename='capture.jpg') }}');"> >
    <p><h2 style="color: antiquewhite; padding-left: 0%;"><b><u><i>Indoor Scene Recognition Using NLP and Deep Learning </i></u></b></h2></p>
    <form class="form-signin" method=post enctype=multipart/form-data style="padding-top: 1cm;">
        <!-- <img class="mb-4" src="/static/pytorch.png" alt="" width="72"> -->
        <h5  style="color: antiquewhite;"><i>Upload Indoor Scene Image As Input</i></h5>
        <input type="file" name="file" class="form-control-file" id="inputfile" style="color: antiquewhite; padding-left: 1cm;">
        <br/>
        <button class="btn btn-lg  " style="color: antiquewhite;" type="submit"><h3>Predict</h3></button>
        <br/>
        <button class="btn btn-lg  " style="color: antiquewhite; " type="submit" name="button" value="display"><h3>Review Result</h3></button>
        <br/>        
        <!-- <p class="mt-5 mb-3 text-muted">Built using Pytorch & Flask</p> -->
    </form>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('#inputfile').bind('change', function() {
          let fileSize = this.files[0].size/1024/1024; // this gives in MB
          if (fileSize > 1) {
            $("#inputfile").val(null);
            alert('file is too big. images more than 1MB are not allowed')
            return
          }

          let ext = $('#inputfile').val().split('.').pop().toLowerCase();
          if($.inArray(ext, ['jpg','jpeg']) == -1) {
            $("#inputfile").val(null);
            alert('only jpeg/jpg files are allowed!');
          }
      });
    </script>
    <script>
      function redirect(url) {
        window.location.href = url;
      }
    </script>
    
  </body>
</html>
